
#list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
div{
   
    margin: 1em;
    padding:1em;
}
#remove{
    float:right;
    background-color: black;
    color:white;
    
}
#container{
    transition: all 3s ease-in;
}
